<input [type]="type" [formControl]="control" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" [placeholder]="placeholder" />


<ng-container *ngIf="control.touched">
  <p [ngSwitch]="true" class="text-red-400">
    <ng-container *ngSwitchCase="control.errors?.required">This field is required</ng-container>
    <ng-container *ngSwitchCase="control.errors?.email">Invalid email</ng-container>
    <ng-container *ngSwitchCase="control.errors?.minLength">Length is too short</ng-container>
  </p>
</ng-container>